@import "tailwindcss";

:root {
    --primary-color:#1E2345;        /* Dark Blue */
    --secondary-color: #29377A;     /* Light Blue */
    --accent-color: #FACC15;        /* Yellow */
    --background-color: #F1F5F9;    /* Off White */
    --text-color: #0F172A;          /* Dark Gray */
}

body,
html{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.login-button {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--background-color);
}

.login-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.signup-button {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
}

.signup-button:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

.get-started-button {
    background-color: var(--secondary-color);
}

.active-button:hover {
    background-color: var(--primary-color);
}

.drop-down-profile-button {
    background-color: var(--primary-color);
}

/* UserProfile */
.pfp-bg-hover:hover {
    border: 2px solid var(--secondary-color);
}

.save-profile-button{
    background-color: var(--secondary-color);
}

.change-password-button {
    background-color: var(--accent-color);
}

